In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = pd.DataFrame()

# Create our target variable
data['Gender'] = ['male','male','male','male',
                  'female','female','female','female']

# Create our feature variables
data['Height'] = [6,5.92,5.58,5.92,5,5.5,5.42,5.75]
data['Weight'] = [81,86,77,74,45,68,58,68]
data['Foot_Size'] = [12,11,12,10,6,8,7,9]

In [4]:
data

   Gender  Height  Weight  Foot_Size
0    male    6.00      81         12
1    male    5.92      86         11
2    male    5.58      77         12
3    male    5.92      74         10
4  female    5.00      45          6
5  female    5.50      68          8
6  female    5.42      58          7
7  female    5.75      68          9

In [7]:
person = pd.DataFrame()

person['Height'] = [5.9]
person['Weight'] = [68]
person['Foot_size'] = [8]

In [8]:
person

   Height  Weight  Foot_size
0     5.9      68          8

In [9]:
# Calculate Number of Male and Female
data['Gender'].count()

8

In [12]:
no_of_male = data['Gender'][data['Gender'] == 'male'].count()

In [13]:
no_of_male

4

In [14]:
no_of_female = data['Gender'][data['Gender'] == 'female'].count()

In [15]:
no_of_female

4

In [16]:
total_obs = data['Gender'].count()

In [17]:
prob_of_male = no_of_male / total_obs
prob_of_female = no_of_female / total_obs

In [18]:
print("Probability of male",prob_of_male)
print("Probability of female",prob_of_female)

Probability of male 0.5
Probability of female 0.5

In [19]:
#mean and variance
mean = data.groupby('Gender').mean()

In [21]:
mean

        Height  Weight  Foot_Size
Gender
female  5.4175   59.75       7.50
male    5.8550   79.50      11.25

In [22]:
variance = data.groupby('Gender').var()

In [23]:
variance

          Height      Weight  Foot_Size
Gender
female  0.097225  118.916667   1.666667
male    0.035033   27.000000   0.916667

In [28]:
male_mean_height = mean['Height'][1]
male_mean_weight = mean['Weight'][1]
male_mean_footSize = mean['Foot_Size'][1]

male_var_height = variance['Height'][1]
male_var_weight = variance['Weight'][1]
male_var_footSize = variance['Foot_Size'][1]

female_mean_height = mean['Height'][0]
female_mean_weight = mean['Weight'][0]
female_mean_footSize = mean['Foot_Size'][0]

female_var_height = variance['Height'][0]
female_var_weight = variance['Weight'][0]
female_var_footSize = variance['Foot_Size'][0]

In [29]:
def p_x_given_y(obs,mean,var):
    return (1 / (np.sqrt(2 * np.pi * var))) * np.exp(-((obs - mean)**2) / (2 * var))

In [30]:
person['Height']

0    5.9
Name: Height, dtype: float64

In [36]:
person['Height'][0]

5.9000000000000004

In [37]:
prob_of_male * \
p_x_given_y(person['Height'][0], male_mean_height, male_var_height) * \
p_x_given_y(person['Weight'][0], male_mean_weight, male_var_weight) * \
p_x_given_y(person['Foot_size'][0], male_mean_footSize, male_var_footSize)

9.0026944972042739e-06

In [38]:
prob_of_female * \
p_x_given_y(person['Height'][0], female_mean_height, female_var_height) * \
p_x_given_y(person['Weight'][0], female_mean_weight, female_var_weight) * \
p_x_given_y(person['Foot_size'][0], female_mean_footSize, female_var_footSize)

0.0015221130426211562